In [1]:
import numpy as np
import pandas as pd
import json
import ast

movies = pd.read_csv('train.csv')

In [2]:
movies = movies[movies['budget'] > 0]
movies = movies[movies['genres'].notna()]
movies = movies[movies['cast'].notna()]
movies = movies[movies['crew'].notna()]
movies.describe()

                id        budget   popularity      runtime       revenue
count  2171.000000  2.171000e+03  2171.000000  2170.000000  2.171000e+03
mean   1506.035468  3.057910e+07     9.535081   109.927189  8.557184e+07
std     863.558557  3.974387e+07    12.300903    22.366643  1.526493e+08
min       1.000000  1.000000e+00     0.001880     0.000000  1.000000e+00
25%     754.500000  5.200000e+06     5.400456    95.000000  6.838288e+06
50%    1513.000000  1.600000e+07     8.309565   106.000000  2.874436e+07
75%    2243.500000  4.000000e+07    11.618632   120.750000  9.920791e+07
max    3000.000000  3.800000e+08   287.253654   338.000000  1.519558e+09

In [3]:
def CustomParser(data):
    j1 = ast.literal_eval(data)
    return j1
movies['genres'] = movies.apply(lambda row: CustomParser(row['genres']), axis=1)
movies['cast'] = movies.apply(lambda row: CustomParser(row['cast']), axis=1)
movies['crew'] = movies.apply(lambda row: CustomParser(row['crew']), axis=1)

In [17]:
def findDirector(data):
    directors = []
    for i in range(len(data)):
        if data[i]['job'] == 'Director':
            directors.append(data[i]['name'])
    return directors

movies['directors'] = movies.apply(lambda row: findDirector(row['crew']), axis=1)

count                   2171
unique                  1368
top       [Steven Spielberg]
freq                      10
Name: directors, dtype: object

In [24]:
def getGenres(data):
    genres = []
    for i in range(len(data)):
        actors.append(data[i]['name'])
    return genres
movies['genres'] = movies.apply(lambda row: getActors(row['genres']), axis=1)

In [20]:
def getActors(data):
    actors = []
    for i in range(len(data)):
        actors.append(data[i]['name'])
    return actors
movies['actors'] = movies.apply(lambda row: getActors(row['cast']), axis=1)

In [27]:
movies.to_csv('Clean_Data_set.csv', index=False)