In [1]:
import numpy as np
import pandas as pd
import json
import ast

movies_1 = pd.read_csv('train.csv')
movies_2 = pd.read_csv('test.csv')
movies = pd.concat([movies_1, movies_2])

In [2]:
movies = movies[movies['budget'] > 0]
movies = movies[movies['genres'].notna()]
movies = movies[movies['cast'].notna()]
movies = movies[movies['crew'].notna()]
movies.describe()

                id        budget   popularity      runtime       revenue
count  5336.000000  5.336000e+03  5336.000000  5335.000000  2.171000e+03
mean   3695.403861  3.085726e+07     9.697664   109.754452  8.557184e+07
std    2131.727959  3.982784e+07    13.252210    21.964967  1.526493e+08
min       1.000000  1.000000e+00     0.000001     0.000000  1.000000e+00
25%    1851.500000  5.178750e+06     5.462924    95.000000  6.838288e+06
50%    3686.500000  1.700000e+07     8.387899   106.000000  2.874436e+07
75%    5533.250000  4.000000e+07    11.690594   120.000000  9.920791e+07
max    7398.000000  3.800000e+08   547.488298   338.000000  1.519558e+09

In [3]:
def CustomParser(data):
    j1 = ast.literal_eval(data)
    return j1
movies['genres'] = movies.apply(lambda row: CustomParser(row['genres']), axis=1)
movies['cast'] = movies.apply(lambda row: CustomParser(row['cast']), axis=1)
movies['crew'] = movies.apply(lambda row: CustomParser(row['crew']), axis=1)

In [4]:
def findDirectors(data):
    directors = []
    for i in range(len(data)):
        if data[i]['job'] == 'Director':
            directors.append(data[i]['name'])
    return directors

movies['directors'] = movies.apply(lambda row: findDirectors(row['crew']), axis=1)

def findDirector(data):
    for i in range(len(data)):
        if data[i]['job'] == 'Director':
            return data[i]['name']
    return "No Director"

movies['directors'] = movies.apply(lambda row: findDirector(row['crew']), axis=1)

In [5]:
def getGenres(data):
    genres = []
    for i in range(len(data)):
        genres.append(data[i]['name'])
    return genres
movies['genres'] = movies.apply(lambda row: getGenres(row['genres']), axis=1)

In [6]:
def getActors(data):
    actors = []
    for i in range(len(data)):
        actors.append(data[i]['name'])
    return actors
movies['actors'] = movies.apply(lambda row: getActors(row['cast']), axis=1)

In [7]:
movies.to_csv('Clean_Data_set.csv', index=False)